.header{
    grid-area: h;
    background-color: #000000;

}

.header img{
    width: 100px;
    padding: 20px 0px 0px 35px;

}

.loginBlock {
    float:right;
    padding: 15px 30px;
}

.loginBlock a{
    color: white
}

.login {
    color: white;
}