.nav {
    grid-area: n;
    background-color: #a2a5a71f;
    padding: 40px 0 0 50px;
    line-height: 23px;
}

.item a {
    color: #458ce4;
    text-decoration: none;
    line-height: 20px;
}

.item a.active {
    color: #458ce4;
    font-weight: 500;
}
