.nav {
    grid-area: n;
    background-color: rgba(80, 80, 80, 0.23);
    padding: 25px;
}

.item a {
    color: white;
    text-decoration: none;

}

.item a.active {
    color: rgba(70, 7, 17, 0.98);
}
