.profile {
  &__info {
    padding: 20px 20px;
    &-header {
      display: flex;
    }
    &-avatar {
      &-photo {
        img {
          width: 300px;
          height: 300px;
        }
      }
      &-edit-photo {
        display: flex;
        justify-content: center;
        margin: 8px 0;
      }
    }
    &-user{
      &-status {
        margin-left: 25px;
        &-name {
          font-size: 22px;
          color: #458ce4;
          margin-bottom: 8px;
        }
        &-block {
          display: flex;
          opacity: 0.6;
          color: #458ce4;
            span {
              margin-right:5px;
            }
          &-value {
            cursor: pointer;
          }
        }
      }
    }
    &-data {
      &-user{
        margin-top: 20px;
        margin-left: 25px;
        line-height: 20px;
        color: #2a5885;
        button {
          margin-right: 3px;
        }
        .ant-btn-primary {
          background-color: #52c41a;
          border-color: #52c41a;
          &:hover, &:focus{
            color: #fff;
            background-color: #52c41abf;
            border-color: #52c41abf;
          }
        }
      }
    }

  }
}