.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;


  &__top {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      font-size: 28px;
      margin-bottom: 0px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.128571px;
      opacity: 0.6;
    }
  }
  .button {
    width: 100%;
  }
  .block {
    width: 430px;
  }
  .email {
    margin-bottom: 20px;
  }
  .passwd {
    margin-bottom: 20px;
  }
  .chkbox {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    &__text {
      color: rgba(0, 0, 0, 0.65);
      margin-left: 5px;
    }
  }
}